@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .color-options {
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 25px;
        
    }

        .color-options span {
            display: inline-block;
            margin-right: 50px;
            margin-bottom: 25px;
            
        }

        .color-options label {
            color: #111111;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid #e5e5e5;
            padding: 6px 15px;
            margin-bottom: 0;
            margin-right: 5px;
            cursor: pointer;
            position: relative;
        }

            .color-options label.active {
                background: #111111;
                color: #ffffff;
                border-color: #111111;
            }

            .color-options label input {
                position: absolute;
                visibility: hidden;
            }
</style>
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="">Home</a>
                        <a href="">Shop</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist" id="thumbList">
                      
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content" id="tabContent">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4 id="product_name"></h4>
                        <h3 id="retal_price"></h3>
                        <small id="quantity"></small>
                        <div class="product__details__option">
                            <div class="product__details__option__size">
                                <span>Size:</span>
                            </div>
                            <div class="color-options">
                                <span>Color:</span>
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="quantityInput" value="1">
                                </div>
                            </div>
                            <button id="addToCartButton" class="primary-btn" type="button">Thêm vào giỏ hàng</button>
                            <button id="PayImmediately" class="primary-btn" type="button">Thanh toán</button>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Các hình thức thanh toán</span></h5>
                            <img src="~/asset_client/img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>Mã:</span><span id="keycode"></span></li>
                                <li><span>Categories:</span><span id="category"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Thông tin và mô tả</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p id="brandName"></p>
                                    <p id="origin"></p>
                                    <p id="style"></p>
                                    <p id="manufacturersName"></p>
                                    <p id="materialName"></p>
                                    <p id="description"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/ajax/client/index/productdetails_cart.js"></script>