@{
    ViewData["Title"] = "OrderUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="order-list" class="col-md-12">
        <h2>Danh sách đơn hàng</h2>
        <input type="text" id="searchHexCode" placeholder="Nhập mã HexCode">
        <button onclick="searchOrder()">Tìm kiếm</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Thời gian mua hàng</th>
                    <th>Thanh toán</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái đơn hàng</th>
                    <th>Tính năng</th>
                </tr>
            </thead>
            <tbody id="orders">
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="~/ajax/client/order/order_index.js"></script>