@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="row">
            <div class="col-md-6">
                <div class="widget-small primary coloured-icon">
                    <i class='icon bx bxs-user-account fa-3x'></i>
                    <div class="info">
                        <h4>Tổng khách hàng</h4>
                        <p id="totalUser"></p>
                        <p class="info-tong">Tổng số khách hàng được quản lý.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget-small info coloured-icon">
                    <i class='icon bx bxs-data fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p id="totalQuantityOptions"></p>
                        <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget-small warning coloured-icon">
                    <i class='icon bx bxs-shopping-bags fa-3x'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p id="totalOrder"></p>
                        <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget-small danger coloured-icon">
                    <i class='icon bx bxs-error-alt fa-3x'></i>
                    <div class="info">
                        <h4>Sắp hết hàng</h4>
                        <p id="productsAlmostOutOfStock"></p>
                        <p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Sản phẩm bán chạy</h3>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Số sản phẩm bán được</th>
                                </tr>
                            </thead>
                            <tbody id="order_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @* <div class="col-md-12">
            <div class="tile">
            <h3 class="tile-title">Khách hàng mới</h3>
            <div>
            <table class="table table-hover">
            <thead>
            <tr>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Ngày tạo tài khoản</th>
            <th>Số điện thoại</th>
            </tr>
            </thead>
            <tbody id="user_table_body">
            </tbody>
            </table>
            </div>
            </div>
            </div> *@
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="row">
            <!-- Phần nhập thời gian -->
            <div class="col-md-12">
                <div class="tile">
                    <label for="startDate" style="display: inline-block; width: 150px; margin-right: 10px;">Chọn ngày bắt đầu:</label>
                    <input type="date" id="startDate" name="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="padding: 5px; margin-right: 20px;" onchange="fetchStatistics()">

                    <label for="endDate" style="display: inline-block; width: 150px; margin-right: 10px;">Chọn ngày kết thúc:</label>
                    <input type="date" id="endDate" name="endDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="padding: 5px;" onchange="fetchStatistics()">
                </div>
            </div>
            <!-- Biểu đồ dữ liệu -->
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Doanh thu theo thời gian</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="~/ajax/admin_staff/statistical/statistical.js"></script>